<div class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">Fire Department Managment System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['admin/users']" routerLinkActive="router-link-active" >Users</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/users/roles']" routerLinkActive="router-link-active">User Roles</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/apparatus']" routerLinkActive="router-link-active">Apparatus</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/apparatus/types']" routerLinkActive="router-link-active">Apparatus Type</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/apparatus/fueltypes']" routerLinkActive="router-link-active">Fuel Types</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/apparatus/drivetypes']" routerLinkActive="router-link-active">Drive Types</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/items']">Inventory</a></li>
                        <li><a class="dropdown-item" [routerLink]="['admin/items/categories']">Item Categories</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
