<div class="container">
    <h1 class="mt-3">User Roles</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['..']" class="btn btn-primary">Users</a>
        &nbsp;&nbsp;
        <a href="#" class="btn btn-primary">Add Role</a>
    </div>

    <ng-container *ngIf="userRoles$ | async as roles">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles">
                    <td>{{role.name}}</td>
                    <td>{{role.description}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>
