<div class="container">
    <h1 class="mt-3">Users</h1>

    <div class="d-flex justify-content-end mt-3">
        <span><a [routerLink]="['adduser']" routerLinkActive="router-link-active" class="btn btn-primary">Add User</a></span>
        &nbsp;&nbsp;
        <span><a [routerLink]="['roles']" routerLinkActive="router-link-active" class="btn btn-primary">User Roles</a></span>
    </div>

    <ng-container *ngIf="users$ | async as users">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>email</th>
                    <th>Unit Number</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.employeeId}}</td>
                    <td>{{user.userRoleName}}</td>
                    <td>
                        <a class="btn btn-light" [routerLink]="['/admin/users', user.id]">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>
